html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;

    background: #f8f8f8;
    font-family: system-ui, sans-serif;
    --block-accent-color: #f2496d;
}

input,
button {
    font-size: 1rem;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}
